# Ignore everything
*

# Whitelist anything that's a directory
!*/

# ignore certain directory
old/
.ipynb_checkpoints/
build/

# Add all the file types I'm interested in.
!.gitignore
!*.py
!MANIFEST.in

# add all the filename I'm interested in.
!package/data/*.tsv
!package/data/module/*.txt
!tests/input*.txt
!tests/result*.csv
!tests/result*.html
package/data/.definition.tsv
